html {
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{ max-width: 1600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



/* Navbar Design */
nav{
    width: 100%;
     max-width: 1600px;
     display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav>p{
    font-size:xx-large;
    font-weight: bold;
}

span{
    background: linear-gradient(to top right ,#F7E93F 1% ,#FB09B4 51%, #9100F8 100% );
  background-clip:text;
 color:transparent;
}


nav>div{ 
    display: flex;
    justify-content: space-between;
gap: 32px;
font-size: 16px;
font-weight: 500px;

}

nav>button{
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(to right,#F7E93F  ,#FB09B4 , #9100F8  );
    color: white;
    font-size: 12px;
    font-weight:600px ;
}

nav>img{
   
    display: none;
}

/* Why Section design */

.W-sec{border: 1px solid yellow;
width: 100%;
max-width: 1600px;
  padding: 120px 200px; 
background-color: #230E3D;
color: #FFFFFF;
/* text-align: center;
} */
}


,h2{padding-bottom: 40px;
    text-align: center;}

.container{
    border: 1px solid yellow;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    gap: 30px;
}




.box{
    border: 1px solid wheat;
    padding: 40px;
    border-radius: 30px;

}

h3{ 
    padding-bottom: 16px;
    padding-top: 16px;
}

#box1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.p1{ padding-top: 100px;
    grid-row: span 2;
  
}
.p2,.p3{
    grid-column: span 2;
}

#box2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 30px;
    

}
.p4{ 
    grid-column: span 2;
}



.p4{grid-columns:span 2 ;

}
/* footer design */
 
   footer{ 
    width: 100%;
    max-width: 1600px;
    background-image:url(./assets/footer-bg.png) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


 footer>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
padding-bottom: 120px;
}

.footer-wave p{
    font-size: 3.5rem;
    font-weight:bold;

}

.footer-img {
    display:grid;
    grid-template-columns: repeat(4,1fr);
   padding-left: 20px  ;
   gap: 20px;
    padding-top: 30px;
     
}
.img1{
    display: flex;
flex-direction: row;
gap: 5px;
    align-items: center;
}
.img1 p{
     font-size: 16px;
    font-weight: 100;
    opacity: 60%;
}


.copy{ 
    padding-top: 34px;
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
    color: #FAFAFA;}
    


/* responsive design */


@media screen and (max-width:576px) {






   nav>button, nav>div{
        display: none;
    }

    nav>img{
        padding-right: .8rem; 
    display:inline;
}

 
    

 
 .footer-img {
    display:grid;
    gap:20px;
    grid-template-columns: repeat(2,1fr);
    
   


}}
