
@media screen and (max-width:576px) {
 
/* navbar */

nav>button, nav>div{
        display: none;}

    nav>img{
        padding-right: .8rem; 
    display:inline;}

/* Banner section */

.hero-section {
    width: 100%;
    gap: 24px;
    padding:40px 20px 40px 20px ;
}

.hero-circle{
     max-width: 250px;
     height: auto;}

.microphone{
    position:absolute;
     top: 23%;
    right: 32%;
    width: 100%;
    max-width: 90px;
    transition: transform 1s ; }  

 .badge{
    font-size: 16px;}
.hero-tech{
    font-size: 2.75rem;
    font-weight: 800;}

/* About section design */
.about-sec{
    padding: 40px 20px 40px 20px;}
.hr-line{
    padding-top: 40px;
    padding-bottom: 40px;
    }
.i-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);}

/* Why Section design */

.W-sec{

  padding: 40px; }

.wt{ font-size: 32px;
   padding-bottom: 16px;
    }

#box1{
    display: grid;
        grid-template-columns: repeat(1,1fr)}
 
#box2{
    display: grid;
    grid-template-columns: repeat(1,1fr);}

    /* Featrued Episodes */

.featured{
    padding: 40px 20px 40px 20px;
}

.card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 24px;
    gap: 16px;
}



.v-container{
    padding: 16px;
}
.video-caption{
   
    padding-top: 16px;
    font-size: 20px;
}

.video-caption{
    padding-top: 16px;
    font-size: 20px;
}
.video-description{
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.host-caption {
   
padding-top:60px ;
padding-bottom: 24px;

}

.host-content{
    padding: 24px;
   display: grid;
   grid-template-columns: repeat(1,1fr);
    justify-items: center;
    align-items:center;
    gap: 16px;
}

.host-paragraph {
     text-align: center;
     display: grid;
     justify-items: center;
}

.host-icon{
    display: flex;
    justify-items: center;
   gap: 8px;
    
}


/* footer design */
 footer{
   background-size: cover;
 }
    
 .footer-img{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(2,1fr);
    } 


}