
@media screen and (max-width:576px) {
 
/* navbar */

nav>button, nav>div{
        display: none;}

    nav>img{
        padding-right: .8rem; 
    display:inline;}

/* Banner section */

.hero-section {
    width: 100%;
    gap: 24px;
    padding:40px 20px 40px 20px ;
}

.hero-circle{
     max-width: 250px;
     height: auto;}

.microphone{
    position:absolute;
     top: 23%;
    right: 32%;
    width: 100%;
    max-width: 90px;
    transition: transform 1s ; }  

 .badge{
    font-size: 16px;}
.hero-tech{
    font-size: 2.75rem;
    font-weight: 800;}

/* About section design */
.about-sec{
    padding: 40px 20px 40px 20px;}
.hr-line{
    padding-top: 40px;
    padding-bottom: 40px;
    }
.i-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);}


/* footer design */
 footer{
   background-size: cover;
 }
    
 .footer-img{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(2,1fr);
    } 


}