@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-size: 16px;
}

*{ margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Navbar Design */
nav{
     display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav>p{ 
    font-size:45px;
    font-weight: bold;
}

span{
    background: linear-gradient(to top right ,#F7E93F 1% ,#FB09B4 51%, #9100F8 100% );
  background-clip:text;
 color:transparent;
}

nav>div{ 
    display: flex;
    justify-content: space-between;
gap: 32px;
font-size: 16px;
font-weight: 500px;

}

.link-container a{
    text-decoration: none;
    color: white;
}

nav>button,.listen-btn{
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(to right,#F7E93F  ,#FB09B4 , #9100F8  );
    color: white;
    font-size: 12px;
    font-weight:600px ;
}

nav>img{
   display: none;
}

